
{% for category in site.categories reversed %}
  {% assign category_name = category | first %}
  <section class="section  typeset">
    <h4 id="{{ category_name | slugify }}">{{ category_name }}</h4>
    <ul class="list  list--posts">
      {% for page in site.categories[category_name] %}
        {% assign has_categories = true %}
        <li class="item  item--post">
          <article class="article  article--post  typeset">
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></small><br>
            <small><b>Keywords</b>: 
              {% for tag in site.tags %}
            {% if forloop.last %}
                  {% for page1 in tag[1] %}
                    {% if page1.title == page.title %}
                      {{ tag[0] }}
                    {% endif %}
                  {% endfor %}
            {% else %}
                   {% for page1 in tag[1] %}
                    {% if page1.title == page.title %}
                      {{ tag[0] }},
                    {% endif %}
                  {% endfor %}
            {% endif %}
              {% endfor %} </small>
            <!-- {% include post-meta.html %} -->
            <!-- {{ page.excerpt | truncatewords: 10 | markdownify }} -->
          </article>
        </li>
      {% endfor %}
    </ul>
    {% unless forloop.last %}<hr/>{% endunless %}
  </section>
{% endfor %}

{% if has_categories != true %}
  <section class="section  typeset">
    <p>There are no categorised posts</p>
  </section>
{% endif %}
